{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>This is some text</p>

                <img src="/static/images/tree.jpg" alt="" width="1365" height="2048">
            </div>
        </div>
    </div>
{{end}}
